:root {
    --white-color : #fff;
    --brand-color : #3a76ff;
    --blue-dark: #0645a0;
}

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

    //==================
    .container {
        display: grid;
        grid-template-columns: 20% 1fr;
        height: 100vh;
        width: 100%;

        //====================
        .navbar {
            background-color: var(--white-color);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 15% 1fr 20%;
            color: #fff;
            text-align: center;

            .navbar-section-above {
                background-color: var(--brand-color);
                h1.navbar-brand {
                    font-size: 2rem;
                }
                
            }

            .navbar-section-middle {

                .navbar-menu {
                    height: 55vh;
                    margin: .5rem;
                    // overflow: scroll;

                    .navbar-list-menu {
                        list-style:none;
                        padding: 0%;
                        line-height: 4.5rem;
                        
                        li.menu-item {
                            margin-bottom: 1.5rem;
                            background-color: var(--blue-dark);
                            border-radius: .5rem;

                            &:hover {
                                background-color: var(--brand-color);
                                transition: 0.25s ease-in-out;
                            }

                            a {
                                text-decoration: none;
                                color: var(--white-color);
                            }
                        }
                    }
                }
            }

            .navbar-section {
                row-gap: 0.25rem;
            }
        }

        //=====================
        .sidebar {
            background-color: rgb(236, 236, 236);

            .sidebar-section-above {
                background-color: var(--white-color);
                height: 15vh;

                .sidebar-item {
                    display: grid;
                    grid-template-columns: 15% 1fr 25%;

                    .sidebar-item-humberger {
                        margin: 25% 10%;
                        cursor: pointer;
                        width: 50px;
                        
                        .line1, .line2, .line3 {
                            height: 0.30rem;
                            width: 1.5rem;
                            background-color: red;
                        }

                        .line1, .line2, .line3 {
                            margin-bottom: 0.15rem;
                        }
                    }

                    // --- Active Toggles
                    .sidebar-item-humberger.active .line1 {
                        transition: 0.15s ease-in-out;
                        transform: translate(0, 10px) rotate(45deg);
                    }

                    .sidebar-item-humberger.active .line2{
                        background-color: transparent;
                        box-shadow: none;
                        transform: translateX(-55px);
                    }
                    
                    .sidebar-item-humberger.active .line3{
                        transition: 0.15s ease-in-out;
                        transform: translate(0,-5px) rotate(-45deg);
                    }


                    // ===== SIDEBAR PROFILE
                    .sidebar-item-profile {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;

                        .profile-image {
                            padding: 25px;
                            background-color: red;
                        }

                        .profile-logout {
                            padding: 25px;
                            background-color: yellow;
                        }
                    }
                    
                }
            }

            // ==================
            .sidebar-section-middle {
                background-color: lightseagreen;
                height: 20vh;
            }

            // ==================
            .sidebar-section-bottom {
                background-color: lightseagreen;
                height: 20vh;
            }
        }
    }
}

// @media
@media (max-width: 1024px) {
    body {
        .container {
            display: grid;
            grid-template-columns: none;

            .navbar {
                display: none;
            }

            .sidebar {
                .content-sidebar {
                    background-color: lightseagreen;
                    margin: 0.25rem;
                    height: 50vh;
                }
            }
        }
    }
}
