:root {
    --main-color: #0C9BC8;
    --second-color: #0a5f8f;
    --whitedoff-color: #CECECE;
    --white-color: #FFFFFF;
    --yellow-color: yellow;
    --green-light: #64F272;
    --green-semi: #1FDD32;
    --green-dark: #11B521;

}


body {
    font-family: 'Inter', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-main {
    background-color: var(--white-color);

    .navbar-position {
        width: 25%;

        .navbar-left {
            margin: 5px;
            border-radius: 10px;
            color: var(--white-color);
            background-color: var(--main-color);
        }

         // navbar HEADER
        .navbar-header {
            height: 25vh;
            background-color: var(--main-color);
            border-radius: 10px 10px 0px 0px;
            
            .text-header-brand {
                line-height: 5rem;
            }
        }
        // navbar MIDDLE
        .navbar-middle {
            height: 55vh;
            background-color: var(--main-color);

            ul.list-menu {
                list-style: none;
                padding: 0%;

                li.list-menu-item {
                    padding: 1.5rem;
                    margin: 5px;
                    position: relative;

                    &:hover {
                        padding: 1.5rem;
                        background-color: var(--green-light);
                        margin: 5px;
                        border-radius: 5px 0px 5px 0px;
                    }

                    a {
                        text-decoration: none;
                        color: var(--white-color);
                        font-size: 14px;

                        .icon-menu {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }

        
        // navbar button
        .navbar-button {
            height: 25vh;
            background-color: var(--second-color);
            border-radius: 0px 50px 0px 0px;

            .line-button {
                margin: auto;
                height: 1.5px;
                width: 75%;
                background-color: var(--white-color);
                margin-top: 10px;
            }

            .btn-logout {
                padding: 10px 25px;
                margin-top: 5px;
                border: none;
                background-color: var(--main-color);
                border-radius: 5px;

                &:hover {
                    padding: 10px 25px;
                    margin-top: 5px;
                    border: none;
                    background-color: var(--second-color);
                    color: var(--white-color);
                    font-weight: 700;
                    transition: 0.20s ease-in-out;
                    border-radius: 5px;
                }
            }

        }
        // navbar FOOTER
        .navbar-footer {
            height: 25vh;
            background-color: var(--second-color);
            border-radius: 0px 0px 10px 10px;
        }
    }

    .sidebar-position {
        width: calc(100% - 25%);

        .sidebar-right {
            margin: 5px;
            background-color: var(--white-color);
            height: 100vh;
        }

        // SIDEBAR HEADER
        .sidebar-header {
            height: 25vh;
            margin-bottom: 5px;
            background-color: var(--green-light);
        }
        // SIDEBAR MIDDLE
        .sidebar-middle {
            height: calc(100vh - 25vh);
            margin-bottom: 5px;
            background-color: var(--green-semi);
        }
        // SIDEBAR FOOTER
        .sidebar-footer {
            height: 25vh;
            margin-bottom: 5px;
            background-color: var(--green-light);
        }
    }
}