:root {
    --main-color: #0C9BC8;
    --second-color: #0a5f8f;
    --whitedoff-color: #CECECE;
    --white-color: #FFFFFF;
    --yellow-color: yellow;
    --green-light: #64F272;
    --green-semi: #1FDD32;
    --green-dark: #11B521;

}


body {
    font-family: 'Inter', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-main {
    background-color: var(--white-color);

    .navbar-position {
        width: 25%;

        .navbar-left {
            margin: 5px;
            background-color: var(--main-color);
            height: 127vh;
        }
    }

    .sidebar-position {
        width: calc(100% - 25%);

        .sidebar-right {
            margin: 5px;
            background-color: var(--white-color);
            height: 100vh;
        }

        // SIDEBAR HEADER
        .sidebar-header {
            height: 25vh;
            margin-bottom: 5px;
            background-color: var(--green-light);
        }
        // SIDEBAR MIDDLE
        .sidebar-middle {
            height: calc(100vh - 25vh);
            margin-bottom: 5px;
            background-color: var(--green-semi);
        }
        // SIDEBAR FOOTER
        .sidebar-footer {
            height: 25vh;
            margin-bottom: 5px;
            background-color: var(--green-light);
        }
    }
}